#menu_text{
	margin: 0;
}

#menu_text {
	background-color: #a1e89b ;
	text-align: center;
	padding: 80px;
}
/*(((((( id dùng "# (đơn lẻ)"
	class dùng "." (nhiều cái) ))))))*/
nav{
	background-color: #2c3a3d;
	overflow: hidden;
}

nav a {
	color :white; 
	padding: 14px 20px;
	display: block; 
	text-align: center;
	text-decoration: none;
	/*(((((  1.Overflow: hidden cái nav, loại bỏ phần chừa ra
	2.display: block cái nav a để cho từng item thành các block hàng ngang, to nhỏ tùy vào từng cái a
	3.float các cái a sang trái để cho thành hàng ngang ))))*/
}

.menu_left{
	float: left;
}
.menu_right{
	float: right;
}
nav a:hover {
	background-color: #6cd4d2;
	color : black;
}

#left_side{
	flex: 30%;
	background-color: #afb0a7;
	padding: 10px 20px;
}

#right_side{
	flex: 70%;
	padding: 10px 20px;
}

#flex_container {
	display: flex;
	flex-wrap: nowrap;
}
footer {
	background-color: #2c3a3d;
	color: white;
	padding: 10px 20px;
	text-align: center;
}
footer > a{
	color: white;
}
table {
	border-style: solid;
}
/*(((((( styling the table )))))*/
table {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.course_item {
	text-align: center;
	flex: 33%;
}
.course_img{
	width: 90%;
}
#sneaker_container{
	display: flex;
	flex-wrap: wrap;
}
.course_title {
	font-size: 150%;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}

.course_desc{
	margin :0px 10px 20px 10px ;
}

@media(max-width: 800px) {
	#left_side {
	 	flex: 100%;	
	}
	#right_side{
	 	flex: 100%;
	}
	#flex_container {
	 	flex-wrap: wrap;
	}
	.course_item{
		flex:  50%;
	}
}

